<div class="container content_compose__header">
  <div class="content__header">
    <div class="logo logo__header">
      <img src="./image/logo.png" alt="">
    </div>
    <h1 class="header__title">
      <span>Превратите уездный город</span>
      <span>в столицу </span>
      <span>земного шара</span>
    </h1>
    <div class="text content__text">
      Оплатите взнос на телеграммы для организации Международного васюкинского турнира по шахматам
    </div>
    <nav class="head__nav">
      <a href="#" class="btns_default btns_hover-major">
        <span class="button__inner">Поддержать шахматную мысль</span>
      </a>
      <a href="#" class="btns_default btns_default-ghost btns_hover-minor ">
        <span class="button__inner">Подробнее о турнире</span>
      </a>
    </nav>
  </div>
</div>
<div class="banner__container banner_header">
  <div class="banner banner__banner-container">
    <picture>
      <source srcset="./image/mobile.jpg" media="(max-width: 375px)">
      <img src="./image/desktop.jpg" alt="баннер">
    </picture>
  </div>
  <div class="banner__texture"></div>
</div>
  
