<div class="participants__item">
  <div class="participants__avatar">
    <img src="./image/participants_avatar.jpg" alt="avatar">
  </div>
  <div class="participants__name">{{name}}</div>
  <div class="participants__degree">{{degree}}</div>
  <div class="participants__button">
    <button class="btns-minor_default btns-minor_hover">подробнее</button>
  </div>
</div>

