<section class="running-line">
  <div class="running-line__wrap running-line_style">
    <ul class="running-line__list run-line_animation">
      <li class="running-line__item">Дело помощи утопающим — дело рук самих утопающих!</li>
      <li class="running-line__item">Шахматы двигают вперед не только культуру, но и экономику!</li>
      <li class="running-line__item">Лед тронулся, господа присяжные заседатели!</li>
    </ul>
    <ul class="running-line__list run-line_animation">
      <li class="running-line__item">Дело помощи утопающим — дело рук самих утопающих!</li>
      <li class="running-line__item">Шахматы двигают вперед не только культуру, но и экономику!</li>
      <li class="running-line__item">Лед тронулся, господа присяжные заседатели!
      </li>
    </ul>
  </div>
</section>

