

.king {
  bottom: 53%;
  right: 37.1%;
  z-index: -1;
}
.pawn {
  bottom: 28%;
  right: 3.35%;
}
.queen {
  bottom: 72%;
  right: 11.8%;
  z-index: -1;
}
.knight {
  bottom: 24%;
  right: 24.6%;
}
.sun,
.sun__inner {
  position: absolute;
  z-index: -2;
  top: 0;
  right: 34px;
}
.sun__inner {
  right: 2px;
  color: $color-hover;
}
.banner {
  .king,
  .pawn,
  .queen,
  .knight {
    position: absolute;
    
  }

}
.banner {
  width: 1920px;
  height: 100%;
  transform: translateX(calc(-50%));
  position: absolute;
  left: 50%;
}
.banner__banner-container {
  margin-right: auto;
  margin-left: auto;
}
.banner_header {
  position: absolute;
  top: 0;
}
.banner__container {
  
  width: 100%;
  min-width: 320px;
  height: 700px;
  background-color: #E9DED4;
  overflow: hidden;
}
.banner__texture {
  background-image: url('./image/texture.png');
  mix-blend-mode: color-burn;
  background-size: cover;
  width: 100%;
  height: 100%;
}