%button-fonts {
  @extend %golos-text-medium;
  font-size: 16px;
}
@mixin btns--transition--animation {
  transition: all .15s cubic-bezier(0.1, -0.6, 0.2, 0);
}
@mixin btns-default {
  background-color: $color-primary;
  @extend %buttons-shared;
  @extend %button-fonts;
  color: $font-color-light;
  padding: 15px 7px;
  display: block;
  width: 100%;
  display: flex;
  @include btns--transition--animation;
}
.btns_default {
  background-color: $color-primary;
  @extend %buttons-shared;
  @extend %button-fonts;
  color: $font-color-light;
  padding: 15px 7px;
  display: block;
  width: 100%;
  display: flex;
  @include btns--transition--animation;
}
.btns_default-ghost {
  border: solid 2px $color-primary;
  color: $color-primary;
  background-color: transparent;
  @include btns--transition--animation;
}

@media (width <= 1177px) {
  .btns_default-ghost {
    border: solid rgba(255, 255, 255, 0.9) 2px;
    background-color: rgba(255, 255, 255, 0.9);
    &:hover {
      border: solid $color-primary 2px;
    }
  }
}
.btns_default-ghost span {
  width: 70%;
}
.btns_hover-major:hover {
  background-color: $color-hover;
  color: $color-primary;
}
.btns_hover-minor:hover {
  background-color: $color-primary;
  color: $font-color-light;
}
.btns-pagination_default {
  background-color: $color-primary;
  color: $font-color-light;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  z-index: 1;
  transition: background-color .15s cubic-bezier(0.1, -0.6, 0.2, 0);
  
}
@media (width <= 375px) {
  .btns-pagination_default {
    width: 36px;
    height: 36px
  }
}


.btns-pagination_hover:hover {
  background-color: $color-hover;
  color: $font-color-light;
}
.btns-pagination_disbled {
  background-color: $color-disabled;
  color: $font-color-light;
}
.btns-minor_default {
  border: solid 1px $color-minor;
  @extend %buttons-minor-shared;
  color: $color-minor;
  text-transform: capitalize;
  padding: 5px 9px;
}
.btns-minor_hover:hover {
  background-color: $color-minor;
  @extend %buttons-minor-shared;
  color: $font-color-light;
}
.button__inner {
  width: 77%;
  display: block;
  text-align: center;
  margin: auto;
  font-size: 16px;
}