%button-fonts {
  @extend %golos-text-medium;
  font-size: 16px;
}

.btns_default {
  background-color: $color-primary;
  @extend %buttons-shared;
  @extend %button-fonts;
  color: $font-color-light;
  padding: 15px 7px;
  display: block;
  width: 100%;
  display: flex;
}
.btns_default-ghost {
  border: solid 2px $color-primary;
  color: $color-primary;
  background-color: transparent;
  
}
.btns_default-ghost span {
  width: 70%;
}
.btns_hover-major:hover {
  background-color: $color-hover;
  color: $color-primary;
}
.btns_hover-minor:hover {
  background-color: $color-primary;
  color: $font-color-light;
}
.btns-pagination_default {
  background-color: $color-primary;
  color: $font-color-light;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.btns-pagination_hover:hover {
  background-color: $color-hover;
  color: $font-color-light;
}
.btns-pagination_disbled {
  background-color: $color-disabled;
  color: $font-color-light;
}
.btns-minor_default {
  border: solid 1px $color-minor;
  @extend %buttons-minor-shared;
  color: $color-minor;
  text-transform: capitalize;
  padding: 5px 9px;
}
.btns-minor_hover:hover {
  background-color: $color-minor;
  @extend %buttons-minor-shared;
  color: $font-color-light;
}
.button__inner {
  width: 77%;
  display: block;
  text-align: center;
  margin: auto;
  font-size: 16px;
}