.header__title {
  font-size: 60px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.header__title p:nth-child(2) {
  text-align: center;
}
.header__title p:nth-child(3) {
  text-align: right;
}