.header__title {
  margin-bottom: 28px;
  text-transform: uppercase;
  @extend %merriweather-regular;
  font-size: 60px;
  line-height: 68px;
  
  span:nth-child(2) {
    text-align: center;
  }
  span:nth-child(3){
    text-align: right;
  }
}
