.header__title {
  
  margin-bottom: 28px;
  text-transform: uppercase;
  @extend %merriweather-regular;
  font-size: 68px;
  line-height: 68px;
  p:nth-child(2) {
    text-align: center;

  }
  p:nth-child(3){
    text-align: right;
  }
}
