.running-line__wrap {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  overflow: hidden;
}
@media (width <=375px) {
  .running-line__wrap {
    min-height: 37px;
  }
}
.running-line__main  {
  margin-bottom: 108px;
}
.running-line_style {
  background-color:  $color-scream;
  
}
.running-line__list {
  display: flex;
  min-width: 100%;
  overflow: hidden;
  transform: translateX(100%);
  flex-shrink: 0;
  justify-content: center;
}
.running-line__item {
  list-style: disc;
  @extend %merriweather-regular; 
  font-size: 22px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-left: 35px;
  flex-shrink: 0;
}
@media (width <= 375px) {
  .running-line__item {
    font-size: 16px;
  }
  
}
.run-line_animation {
  animation: run_l 20s linear infinite;
  -webkit-animation:run_l 20s linear infinite ;
}
@keyframes run_l {
  from {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-100%));
    -webkit-transform: translateX(calc(-100%));
  }
}