.table__row {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: start;
}
.table-head {
  justify-self: start;
}
.table__item {
  
  
}
.table {
  width: 100%;
}
.table__session {
  margin-bottom: 50px ;
}
.table__item:first-child .table__header, 
.table__item:first-child .table__data {
  padding-top: 0;
}
.table__header {
  text-align: start;
  vertical-align: middle;
  @extend %golos-text-regular;
  font-size: 20px;
  padding: 16px 0px;
  width: 46%;
}
.table__data {
  text-align: start;
  vertical-align: middle;
  @extend %golos-text-semiBold;
  font-size: 20px;
  padding: 16px 0 16px 16px;
  width: 54%;
}
.grid {
  display: grid;
  grid-template-columns: 43.46% 56.53%;
  grid-template-rows: repeat(5, minmax(40px, 1fr) );
  
  overflow: hidden;
}
.head-col {
  @extend %golos-text-regular;
  font-size: 20px;
  
  
}
.data-col {
  @extend %golos-text-regular;
  font-size: 20px;
  padding-left: 16px;
  
}

.grid__item {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100%;
}
.grid__cell {
  border-bottom: 1px solid
  #D0D0D0;
}
.grid-cell_border-right {
  border-right: solid 1px #D0D0D0;
}
.grid-item_align-start {
  align-items: start;
}
.grid-item_align-end {
  align-items: end;
}
.grid__session {
  margin-bottom: 48px;
}
.grid-cell_border-none {
  border-bottom: none;
}