.table {
  width: 100%;
  border-spacing: 0;
  overflow: hidden;
}
.table__session {
  margin-bottom: 50px ;
}
.table__data {
  text-align: start;
  vertical-align: middle;
  @extend %golos-text-semiBold;
  font-size: 20px;
  padding: 16px 0px 16px 16px;
  border-bottom: 1px solid #D0D0D0;
  border-left: 1px solid #D0D0D0;
  color: #313131;
 
}
@media (width <= 375px) {
  .table__data {
    border: none;
    padding-left: 0;
    padding-top: 0;
  }
  
}
.table__head {
  width: 43.5%;
  text-align: start;
  vertical-align: middle;
  @extend %golos-text-regular;
  font-size: 20px;
  padding: 16px 0px;
  border-bottom: 1px solid #D0D0D0;
  
}
@media (width <= 375px) {
  .table__head {
    border-bottom: none;
    width: auto;
    padding-bottom: 12px;
  }
  
}



.table__item {
  color: #333;
}
@media (width <= 375px) {
  .table__item {
    display: flex;
    flex-direction: initial;
    border-bottom: 1px solid #D0D0D0;
    flex-wrap: wrap;
    
    &:last-child {
      border-bottom: none;
    }
    &:nth-child(4) {
      .table__data {
        padding-left: 13px;
        padding-top: 17px;
      }
    }
  }
}
.table-cell_border-right {
  border-right: solid 1px #D0D0D0;
}
.table-item_align-start {
  align-items: start;
  
}
.table-item_align-end {
  padding-bottom: 0px;
  border-bottom: none;
}
@media (width <=375px) {
  .table-item_align-end {
    padding-bottom: 12px;
  }
}
.table__session {
  margin-bottom: 48px;
}
@media (width <= 375px) {
  .table__session {
    margin-bottom: 28px;
  }
}
.table-cell_border-none {
  border: none;
}

.table-item_align-start {
  align-items: start;
  padding-top: 0px;
}

@media (width <= 400px) {
  .table__last-item {
    border-bottom: none;
    
  }
}
.line-through {
  text-decoration: line-through;
  text-decoration-color: #F54932;
  margin-right: 16px;
}