.convertion__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  overflow: hidden;
}
/*
@media (min-width: 500px) and (max-width: 999px) {
  .convertion__grid {
    grid-template-columns: auto;
    gap: 8px;
  }
}
*/

@media (min-width: 535px) and (max-width: 999px) {
  .convertion__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}
/*
@media (min-width: 375px) and (max-width: 535px) {
  .convertion__grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
*/
@media (width <= 535px) {
  .convertion__grid {
    background-image: url('./image/converison_background.jpg');
    display: flex;
    padding: 61px 27px 0 20px;
    flex-direction: column;
    min-height: 300px;
    width: 100%;
    gap: 27px;
    margin-bottom: 28px;
  }
}
.convertion__item:nth-child(3) {
  grid-row: span 2;
}
.convertion__item:nth-child(7) {
  grid-column-start: 2;
  grid-column: span 2;
}


@media (width <= 999px) {
  .convertion__item:nth-child(6) {
    grid-column: span 2;
  }
}
@media (min-width: 375px) and (max-width: 535px) {
  
}
.convertion__item {
  background-image: url('./image/converison_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  @extend %golos-text-medium;
  font-size: 20px;
  transition: opacity 0.15s ease-in;
  .grid__content {
    @extend %golos-text-medium;
    font-size: 20px;
  }
}
@media (width <= 535px) {
 .convertion__item {
  position: absolute;
  opacity: 0;
  background-image: none;
  transition: opacity 0.155s ease-in;
  max-width: 100%;
  .grid__content {
    font-size: 18px;
    padding: 0;
    
  }
 }
}
@media (width <= 999px) {
  .convertion__item {
    .grid__content {
      font-size: 18px;
    }
  }
}
.convertion__item_active {
  opacity: 1;
  position: relative;
}
@media (min-width: 375px) and (max-width: 700px) {
  .convertion__item {
    justify-content: start;
    align-items: center;
    display: flex;
    max-width: 100%;
    
  }
}
.grid__enum {
  display: flex;
  width: 36px;
  height: 36px;
  background-color: white;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  @extend %golos-text-semiBold;
  font-variant-numeric: tabular-nums;
}
.convertion__title {
  width: 65.95%;
  @extend %merriweather-regular;
  font-size: 54px;
  text-transform: uppercase
  
}
@media (width <=991px) {
  .convertion__title {
    width: 100%;
  }
}
@media (width <= 768px) {
  .convertion {
    .convertion__title {
      margin-bottom: 142px;
    }
  }
  
}
@media (min-width: 992px) and (max-width: 1199px) {
  .convertion__title {
    width: 84%;
  }
}

.grid__content {
  display: grid;
  grid-template-columns: 36px 1fr;
  align-items: flex-start;
  padding: 20px;
  gap: 17px
}
.convertion__content {
  position: relative;
}
.convertion__content_mobile {
  
  display: none;
  overflow: hidden;
}
@media (width <= 700px) {
  .convertion__content_mobile {
    display: flex;
    gap: 25px;
  }
}
@media (width <= 850px) {

}
.convertion__sub-title {
  display: inline-block;
  @extend %golos-text-regular;
  font-size: 20px;
  color: #3057A2;
  text-transform: none;
  width: 34.73%;
}
@media (min-width: 640px) and (max-width: 806px) {
  .convertion__sub-title {
    width: 45%;
  }
}
@media (min-width: 375px) and (max-width: 646px) {
  .convertion__sub-title {
    width: 100%;
    
  }
}
@media (width <= 530px){
  .convertion__sub-title {
    width: 100%;
    font-size: 18px;
  }
}
.title__container {
  margin-bottom: 54px;
}
@media (min-width: 375px) and (max-width: 762px) {
  .title__container {
    margin-bottom: 144px;
  }
}
@media (width <= 375px) {

}
.convertion__grid-label {
  position: absolute;
  right: -65px;
  bottom: 0px;
  width:  clamp(337px, 33% ,401px);
  top: auto;
}

@media (width <= 375px) {
  .convertion__grid-label {
    justify-self: center;
    left: 3%;
    right: auto;
    top: -135px;
  }
}
@media (min-width: 376px) and (max-width: 533px) {
  .convertion__grid-label {
    justify-self: center;
    left: 19%;
    right: auto;
    top: -135px;
  }
}
@media (min-width: 534px) and (max-width: 644px) {
  
  .convertion__grid-label {
    justify-self: center;
    left: 0%;
    right: none;
    top: -127px;
  }
}
@media (min-width: 645px) and (max-width: 767px) {
  .convertion__grid-label {
    justify-self: center;
    left: 27%;
    right: auto;
    top: -144px;
  }
}
.airplane-image {
  background-image: url('./image/airplane_border.png');
  background-repeat: no-repeat;
  background-position: 50% 28%;
  background-size: 93%;
}

@media (width <= 767px) {
  .airplane-image {
    transform: rotateZ(-4deg);
  }
}
@media (width <= 767px) {

  .convertion__grid-label {
    height: 118px;
    
  }
  
  .airplane-image {
    width: auto;
    
  }
}

.convertion-item_content-scope {
  padding-right: clamp(150px, 39%, 283px);
}
@media (min-width: 320px) and (max-width: 767px) {
  .convertion-item_content-scope {
    padding-right: 20px;
  }
}
.convert__pagination {
  display: none;
  
}
@media (width <= 535px) {
  .convert__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}
.convert__pagi--button {

}
.convert__pag-btn_forward{

}
.convert__pag-btn_back {

}
.convert__pag-list-dot {
  display: flex;
  gap: 6px;
}
.convert__pag-dot {
  height: 10px;
  width: 10px;
  background-color: #D9D9D9;
  border-radius: 50%;
  
}
.convert__pag-dot--active {
  background-color: #313131;
  transition: background-color 0.3s ease-in;
}



