.convertion__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  gap: 20px;
  overflow: hidden;
}
@media (width <= 999px) {
  .convertion__grid {
    grid-template-columns: auto;
  }
}
@media (width <= 700px) {
  .convertion__grid {
    display: none;
  }
}
.convertion__item:nth-child(3) {
  grid-row: span 2;
}
.convertion__item:nth-child(7) {
  grid-column-start: 2;
  grid-column: span 2;
}

@media (width <= 999px) {
  .convertion__item:nth-child(6) {
    grid-column: span 2;
  }
}
.convertion__item {
  background-image: url('./image/converison_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  @extend %golos-text-medium;
  font-size: 20px;
  .grid__content {
    @extend %golos-text-medium;
    font-size: 20px;
  }
}
@media (width <= 700px) {
  .convertion__item {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
  }
}
.grid__enum {
  display: flex;
  width: 36px;
  height: 36px;
  background-color: white;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  @extend %golos-text-semiBold;
  font-variant-numeric: tabular-nums;
}
.convertion__title {
  width: 65.95%;
  @extend %merriweather-regular;
  font-size: 54px;
  text-transform: uppercase
  
}
.grid__content {
  display: grid;
  grid-template-columns: 36px 1fr;
  align-items: flex-start;
  padding: 20px;
  gap: 17px
}
.convertion__content_mobile {
  
  display: none;
  overflow: hidden;
}
@media (width <= 700px) {
  .convertion__content_mobile {
    display: flex;
    gap: 25px;
  }
}
.convertion__sub-title {
  display: inline-block;
  @extend %golos-text-regular;
  font-size: 20px;
  color: #3057A2;
  text-transform: none;
  width: 34.73%;
}
.title__container {
  margin-bottom: 54px;
}
.convertion__grid-label {
  position: absolute;
  right: 10px;
  bottom: -2px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .convertion__grid-label {
    justify-self: center;
    left: 0;
    top: 19%;
  }
}
.airplane-image {
  background-image: url('./image/airplane_border.png');
  background-repeat: no-repeat;
  background-size: 376px auto;
  background-position: 50% 28%;
}

.convertion-item_content-scope {
  width: 59.63%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .convertion-item_content-scope {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .convertion-item_content-scope {
    width: 56.63% ;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .convertion-item_content-scope {
    width: 60.63% ;
  }
}




