.content__header {
  width: 542px;
  z-index: 1;
}
.head__nav {
  display: flex;
  gap: 3%;
}

.logo__header {
  margin-top: 26px;
  margin-bottom: 53px;
}
.content__text {
  margin-bottom: 41px;
  
}
.content_compose__header {
  display: flex;
  flex-direction: row;
}

header {
  min-height: 700px;
}

.text {
  @extend %golos-text-regular;
  text-align: center;
  font-size: 18px;
}
