.content__header {
  width: 542px;
  z-index: 1;
  .content__text {
    margin-bottom: 36px;
  }
}
.head__nav {
  display: flex;
  gap: 3%;
}
@media (width <= 667px) {
  .head__nav {
    flex-direction: column;
    gap: 9px;
  }
}
.logo__header {
  padding-top: 26px;
  margin-bottom: 56px;
}
@media (width <= 667px) {
  .logo__header {
    padding-top: 17px;
    margin-bottom: 40px;

    img {
      max-width: 63%;
      height: auto;
    }
  }
}
.content__text {
  margin-bottom: 41px;
  
}

@media (width <= 470px) {
  .content__header {
    .text {
      text-align: start;
    }
  }
  .content__text {
    margin-bottom: 34px;
    
  }
}
.content_compose__header {
  display: flex;
  flex-direction: row;
}

header {
  min-height: 700px;
}
@media (width <=375px) {
  header {
    min-height: 774px;
  }
  
}
.text {
  @extend %golos-text-regular;
  text-align: center;
  font-size: 18px;
}
