.participants_composing {
 display: grid;
 grid-template-columns: repeat (3, 1fr);
 grid-template-rows: auto;
 gap: 60px;
}
.participants {
  
}
.participants__list {
  display: flex;
  gap: 20px;
  
}
.participants__wrapper {
  height: 597px;
  overflow: hidden;
}
.participants__item
 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 32.24%;
  flex-shrink: 0;
}

.avatar__participants-item {
  margin-bottom: 28px;
}
.participants__name {
  @extend %golos-text-semiBold;
  font-size: 24px;
  
}
.name__participants-item {
  margin-bottom: 6px
}
.participants__degree {
  @extend %golos-text-regular;
  font-size: 20px;
}
.degree__participants-item {
  margin-bottom: 20px;
}
.participants__header {
  grid-area: 1/span 2;
}
.participants__list {
  grid-area: 2/span 3;
  height: 462px;
}
.main__participants {
  margin-bottom: 140px;
}
.pagination__counter {
  @extend %golos-text-regular;
  font-size: 16px;
}
.block__pagination {
  grid-area: 1/3;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 14px;
}
.pagination-button__container {
  margin-right: 12px;
}
.section_show {
  display: flex;
  
  transform: translateX(0px);
}
.section_hide {
  overflow: hidden;
  display: none;
  transform: translateX(1500px);
}
.participants-item_focus {
  
}
.change_position {
  transform: translateX(1600px);
}
.list_forward{
  //animation: mover 0.75s ease-in-out;
  transform: translateX(-103%);
  transition: 0.5s ease-in-out;
}
.list_backward{
  //animation: mover 0.75s ease-in-out;
  transform: translateX(3%);
  transition: 0.5s ease-in-out;
} 
@keyframes mover {
  0% {
    transform: translateX(0%);
  }
  100% {  
    transform: translateX(-100%);
  }
}
