.participants__list {
  display: flex;
}
.participants__item
 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.participants__header {
  margin-bottom: 60px;
}