.header {
  @extend %merriweather-regular;
  font-size: 36px;
  text-transform: uppercase;
  line-height: 48px;

  .header_red {
    @extend %merriweather-bold;
    color: $color-scream;
  }
}


.lecture_compose {
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(336px, auto));
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.lecture_compose .content__text {
  margin-bottom: 0px;
  padding-right: 19px;
  
}
.main__lecture {
  margin-bottom: 64px;
}
.session_compose {
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(336px, auto));
  gap: 18px;
}
.session__label {
  background-image: none;
  
}
.session__header {
  padding-top: 30px;
  margin-bottom: 60px;
 
}
.note__session {
  
}
.content__note {
  @extend %golos-text-regular;
  font-size: 20px;
}