%buttons-shared {
  border-radius: 66px;
}
%buttons-minor-shared {
  border-radius: 62px
}

%merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

%merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

%merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

%merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

%merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

%merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

%merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

%merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}
%golos-text-regular {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
%golos-text-medium {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
%golos-text-semiBold {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
%golos-text-bold {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
%golos-text-extraBold {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
%golos-text-black {
  font-family: "Golos Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
