html
  head
    //- relative path to SCSS source file
    link(href="../src/stylesheet.scss" rel="stylesheet")
    //- relative path to TypeScript source file
    script(src="../src/index.js" defer="defer")
  body
    h1 Hello World!
    //- relative path to image source file
    img(src="../assets/images/picture1.png")
    //- Webpack alias as path (src/assets/images/) to image source file
    img(src="@images/picture2.png")