<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
  
</head>
<body>
  <header>
    {% include "./templates/header.twig" %}
  </header>
  <main>
    {% include "./templates/running_line.twig" %}
    <section class="lecture main__lecture">
      <div class="container">
        <div class="content lecture_compose">
          <div class="content__text">
            <h2 class="header">Чтобы поддержать Международный васюкинский турнир</h2>
            <h2 class="header">
               посетите лекцию на тему: 
              <span class="header_red">
                «Плодотворная дебютная идея»</span>
            </h2>
          </div>
          <div class="content__img">
            
            <picture>
              <source srcset="./image/lecture_label--mobile.jpg" media="(max-width: 375px)">
              <img src="./image/lecture_label.jpg" alt="лекция плакат">
            </picture>
          </div>
        </div>
      </div>
    </section>
    <section class="session main__session">
      <div class="container">
        <div class="content session_compose">
          <div class="content__label">
            <div class="session__label">
              <picture>
                <source srcset="./image/session_label--mobile.jpg" media="(max-width: 375px)">
                <img src="./image/session_label.jpg" alt="сессия плакат">
              </picture>
              <div class="session__texture texture__session-label"></div>
            </div>
          </div>
          <div class="content__text">
            <h2 class="header session__header">
              и Сеанс <span class="header_red">одновременной игры в шахматы на 160 досках</span> гроссмейстера О. Бендера
            </h2>
            <div class="table__session">
              <table class="table">
                <tbody>
                  <tr class="table__item">
                    <th class="table__head">Место проведения:</th>
                    <td class="table__data">Клуб «Картонажник»</td>
                  </tr>
                  <tr class="table__item">
                    <th class="table__head">Дата и время мероприятия:</th>
                    <td class="table__data">22 июня 1927 г. в 18:00</td>
                  </tr>
                  <tr class="table__item">
                    <th class="table__head">Стоимость входных билетов:</th>
                    <td class="table__data">20 коп.</td>
                  </tr>
                  <tr class="table__item">
                    <th class="table__head">Плата за игру:</th>
                    <td class="table__data">50 коп.</td>
                  </tr>
                  <tr class="table__item">
                    <th class="table__head  table-item_align-end">Взнос на телеграммы:</th>
                    <td class="table__data  table-item_align-end"><p><span class="line-through">100 руб.</span>21 руб. 16 коп.</p></td>
                  </tr>
                </tbody>
              </table>
            </div>  
            <div class="content__note note__session">
              <a href="">По всем вопросам обращаться в администрацию к К. Михельсону</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="convertion main__convertion">
      <div class="container">
        <div class="block__title convertion__title title__container">
          Этапы преображения Васюков
          <span class="convertion__sub-title" href="">Будущие источники обогащения васюкинцев</span>
        </div>
        <div class="convertion__content">
          <div class="convertion__grid">
            <div class="convertion__item">
              <div class="grid__content">
                <span class="grid__enum">1</span>
                <p>Строительство железнодорожной магистрали Москва-Васюки</p>
              </div>
            </div>
            <div class="convertion__item">
              <div class="grid__content">
                <span class="grid__enum">2</span>
                <p>Открытие фешенебельной гостиницы «Проходная пешка» и других небоскрёбов</p>
              </div>
            </div>
            <div class="convertion__item">
              <div class="grid__content">
                <span class="grid__enum">3</span>
                <p>Поднятие сельского хозяйства в радиусе на тысячу километров: производство овощей, фруктов, икры, шоколадных конфет</p>
              </div>
            </div>
            <div class="convertion__item">
              <div class="grid__content">
                <span class="grid__enum">4</span>
                <p>Строительство дворца для турнира</p>
              </div>
            </div>
            <div class="convertion__item">
              <div class="grid__content">
                <span class="grid__enum">5</span>
                <p>Размещение гаражей для гостевого автотранспорта</p>
              </div>
            </div>
            <div class="convertion__item">
              <div class="grid__content">
                <span class="grid__enum">6</span>
                <p>Постройка сверхмощной радиостанции для передачи всему миру сенсационных результатов</p>
              </div>
            </div>
            <div class="convertion__item">
              <div class="grid__content convertion-item_content-scope">
                <span class="grid__enum">7</span>
                <p>Создание аэропорта «Большие Васюки» с регулярным отправлением почтовых самолётов и дирижаблей во все концы света, включая Лос-Анжелос и Мельбурн</p>
              </div>
            </div>
            <div class="convertion__grid-label">
              <img class="airplane-image" src="./image/airplane.png" alt="Самолет">
            </div>
          </div>
          <div class="convert__pagination">
            <button class="pagination__button convert__btn_prev btns-pagination_default btns-pagination_hover">
              <span class="btns__arrow btns-arrow_rotate">
                <svg width="12" height="20" viewBox="0 0 12 20" fill="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.4618 1.53839L9.92334 9.99993L1.4618 18.4615" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square"></path>
                </svg>
              </span>
            </button>
            <div class="convert__pag-list-dot">
              <div class="convert__pag-dot convert__pag-dot--active"></div>
              <div class="convert__pag-dot"></div>
              <div class="convert__pag-dot"></div>
              <div class="convert__pag-dot"></div>
              <div class="convert__pag-dot"></div>
            </div>
            <button class="pagination__button convert__btn_next  btns-pagination_default btns-pagination_hover">
              <span class="btns__arrow">
                <svg width="12" height="20" viewBox="0 0 12 20" fill="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.4618 1.53839L9.92334 9.99993L1.4618 18.4615" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square"></path>
                </svg>
              </span>
            </button>
            
          </div>
        </div>
        <!--
        <div class="convertion__content_mobile">
          <div class="convertion__item">
            <div class="grid__content">
              <span class="grid__enum">1</span>
              <p>Строительство железнодорожной магистрали Москва-Васюки</p>
              <span class="grid__enum">2</span>
              <p>Открытие фешенебельной гостиницы «Проходная пешка» и других небоскрёбов</p>
            </div>
          </div>
          <div class="convertion__item">
            <div class="grid__content">
              <span class="grid__enum">3</span>
              <p>Поднятие сельского хозяйства в радиусе на тысячу километров: производство овощей, фруктов, икры, шоколадных конфет</p>
            </div>
          </div>
          <div class="convertion__item">
            <div class="grid__content">
              <span class="grid__enum">4</span>
              <p>Строительство дворца для турнира</p>
              <span class="grid__enum">5</span>
                <p>Размещение гаражей для гостевого автотранспорта</p>
            </div>
          </div>
          <div class="convertion__item">
            <div class="grid__content">
              <span class="grid__enum">6</span>
              <p>Постройка сверхмощной радиостанции для передачи всему миру сенсационных результатов</p>
            </div>
          </div>
          <div class="convertion__item">
            <div class="grid__content">
              <span class="grid__enum">7</span>
              <p>Создание аэропорта «Большие Васюки» с регулярным отправлением почтовых самолётов и дирижаблей во все концы света, включая Лос-Анжелос и Мельбурн</p>
            </div>
          </div>
          <div class="convertion__pagination_mobile"></div>
        </div>
        -->
      </div>
    </section>
    <section class="participants main__participants">
      <div class="container">
        <div class="participants__wrapper participants_composing">
          <h2 class="block__title participants__header">
            Участники турнира
          </h2>
          <div class="participants__list">
            {% include "./templates/participants.twig" with {'name': 'Арон Нимцович','degree': 'Чемпион мира по шахматам' } %}
            {% include "./templates/participants.twig" with {'name': 'Рихард Рети','degree': 'Чемпион мира по шахматам' } %}
            {% include "./templates/participants.twig" with {'name': 'Остап Бендер','degree': 'Гроссмейстер' } %}
            {% include "./templates/participants.twig" with {'name': 'Хозе-Рауль Капабланка','degree': 'Чемпион мира по шахматам' } %}
            {% include "./templates/participants.twig" with {'name': 'Эммануил Ласкер','degree': 'Чемпион мира по шахматам' } %}
            {% include "./templates/participants.twig" with {'name': 'Александр Алехин','degree': 'Чемпион мира по шахматам' } %}
            {% include "./templates/participants.twig" with {'name': 'Арон Нимцович','degree': 'Чемпион мира по шахматам' } %}
            {% include "./templates/participants.twig" with {'name': 'Рихард Рети','degree': 'Чемпион мира по шахматам' } %}
            {% include "./templates/participants.twig" with {'name': 'Остап Бендер','degree': 'Гроссмейстер' } %}
          </div>
          <div class="block__pagination pagination-button__container">
            <button class="pagination__button prev btns-pagination_default btns-pagination_hover">
              <span class="btns__arrow btns-arrow_rotate">
                <svg  width="12" height="20" viewBox="0 0 12 20"  fill="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.4618 1.53839L9.92334 9.99993L1.4618 18.4615" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square"/>
                </svg>
              </span>
            </button>
            <div class="pagination__counter"> 3/6</div>
            <button class="pagination__button next btns-pagination_default btns-pagination_hover">
              <span class="btns__arrow">
                <svg  width="12" height="20" viewBox="0 0 12 20"  fill="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1.4618 1.53839L9.92334 9.99993L1.4618 18.4615" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square"/>
                </svg>
              </span>
            </button>
          </div>
        </div>
      </div>
    </section>
    {% include "./templates/running_line.twig" %}
  </main>
  <footer class="footer_back-color">
    {% include "./templates/footer.twig" %}
  </footer>
</body>
</html>